<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        {{> partials/header}}
        <!--<script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>-->
        <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
        <script src=" https://cdn.jsdelivr.net/npm/react-google-charts@4.0.1/dist/index.min.js "></script>
        <script type="text/javascript" src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script data-type="text/javascript" type="text/babel" src="/static/js/graphic.jsx"></script>
        <script data-type="text/javascript" type="text/babel" src="/static/js/components/buttons.jsx"></script>
        <script data-type="text/javascript" type="text/babel" src="/static/js/components/modal.jsx"></script>
        <script data-type="text/javascript" type="text/babel" src="/static/js/components/input.jsx"></script>
        <script data-type="text/javascript" type="text/babel" src="/static/js/supplier_content.jsx"></script>
        <script data-type="text/javascript" type="text/babel" src="/static/js/employee_content.jsx"></script>
        <script data-type="text/javascript" type="text/babel" src="/static/js/sales_content.jsx"></script>
        <script data-type="text/javascript" type="text/babel" src="/static/js/product_content.jsx"></script>
        <script data-type="text/javascript" type="text/babel" src="/static/js/components/toast.jsx"></script>
        <script data-type="text/javascript" type="text/babel" src="/static/js/render.jsx"></script>
        <script defer type="text/javascript" src="/static/js/request.js"></script>
        <!--<script defer src="/static/js/highcharts.js"></script>
        <script defer src="/static/js/jquery.js"></script>-->
        <!--<script defer data-type="module" type="text/babel" src="/static/js/tab.jsx"></script>-->
        <link rel="stylesheet" href="/static/css/id.css">
    </head>
    <body>
    <div class="container">
        <div class="container position-fixed top-0 start-0 shadow p-3 mb-5 bg-body rounded w-25 h-100">
            <h1 class="p-3 mb-5">EMPRESA</h1>
            <ul class="nav flex-column">
                <li class="nav-item p-2 mb-4">
                  <a id="tab-main" class="nav-link" aria-current="page">Panel de Control</a>
                </li>
                <li class="nav-item p-2 mb-4">
                  <a id="tab-supplier" class="nav-link">Proveedores</a>
                </li>
                <li class="nav-item p-2 mb-4">
                  <a id="tab-sales" class="nav-link">Ventas</a>
                </li>
                <li class="nav-item p-2 mb-4">
                  <a id="tab-stock" class="nav-link">Stock</a>
                </li>
                <li class="nav-item p-2 mb-4">
                  <a id="tab-employee" class="nav-link">Empleados</a>
                </li>
            </ul>
        </div>
        <div class="container position-absolute top-0 end-0 d-flex justify-content-center ms-5 w-100 h-100">
            <div class="w-100 h-100 ms-5 p-5">
                <div id="root" class="w-100 h-100 ms-5">
                    <!--<div id="curve_chart" style="width: 900px; height: 500px"></div>-->
                </div>
            </div>
        </div>
        <div class="position-absolute top-0 end-0 shadow-lg p-3 mb-5 bg-body rounded">
          <form action="/restricted/control-panel/logout" method="POST">
            <button type="submit" class="btn btn-danger">Log Out</button>
          </form>
        </div>
    </div>
    <script type="text/javascript">
      localStorage.removeItem('SupplierData');
      localStorage.removeItem('Categories');
      localStorage.removeItem('ObjectNameLargeAndQuantities');
      localStorage.removeItem('ListEmployeeTable');
      localStorage.removeItem('ProductsString');
      localStorage.removeItem('ProductDataList');
      /**/
      localStorage.setItem('SupplierData', JSON.stringify('{{{SupplierData}}}'));
      localStorage.setItem('Categories', JSON.stringify('{{{Categories}}}'));
      localStorage.setItem('ObjectNameLargeAndQuantities', JSON.stringify('{{{ObjectNameLargeAndQuantities}}}'));
      localStorage.setItem('ListEmployeeTable', JSON.stringify('{{{ListEmployeeTable}}}'));
      localStorage.setItem('ProductDataList', JSON.stringify('{{{ProductDataList}}}'));
    </script>
    </body>
</html>