<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        {{> partials/header}}
    </head>
    <body>
        <div class="container text-center p-5">
            <h1>Login View</h1>
        </div>
    </body>
</html>